@model IEnumerable<uOrderViewModel>
@{
    ViewData["Title"] = "AllUserOrders";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Warehouse Orders</h2>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="text-right">
            <a asp-controller="whOrder" asp-action="Index" class="btn btn-primary">
                All Warehouse Orders
            </a>
            <a asp-controller="whOrder" asp-action="PurchaseQueue" class="btn btn-primary">
                Queue for purchase
            </a>
            <a class="btn btn-secondary">
                All User Orders
            </a>
            <a asp-controller="whOrder" asp-action="DeliveryQueue" class="btn btn-primary">
                Queue for delivery
            </a>
        </div>
    </div>
</div>

<div class="container p-3">
    <form asp-controller="uOrder" asp-action="uOrderSearch" method="get">
        <p>
            Id: <input type="text" name="Id" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<table class="d-lg-table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                ProductId
            </th>
            <th>
                Address
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sum
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.ProductId 
                </td>
                <td>
                    @order.Address
                </td>
                <td>
                    @order.Quantity
                </td>
                <td>
                    @order.Sum $
                </td>
                <td>
                    @order.Date
                </td>
                <td>
                    @order.Status
                </td>
                <td>
                    <a asp-controller="uOrder" asp-action="uOrderDetail" class="btn btn-primary form-control" asp-route-id="@order.Id">
                        Details
                    </a>
                </td>
                
            </tr>
        }
    </tbody>
</table>

<div class="container p-3">
    <div class="row pt-4">
        <div class="text-center">
            <a asp-controller="whOrder" asp-action="AllUserOrders" asp-route-pageA="-1" class="btn btn-primary">
                    Prev
            </a>
            <a asp-controller="whOrder" asp-action="AllUserOrders" asp-route-pageA="2"class="btn btn-primary">
                    Next 
            </a>
        </div>
    </div>
</div>

